# Ignore everything
*

# But not these files...
!*.v
!*.txt
!*.pdf
!*.docx
# etc...

# ...even if they are in subdirectories
!*/
Samba/ejercicios_varios_secuenciales/ejercicios_varios_secuenciales.docx
